<%# <%= render 'form', recipe: @recipe %>
<h2>New Recipe</h2>
<%= form_for @recipe do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<br>
<p>Ingredients</p>
<%= f.fields_for :ingredients do |i|%>
<%= i.label :name %>
<%= i.text_field :name %>
<%= i.label :quantity %>
<%= i.text_field :quantity %>
<br>
<% end %>
<%= f.submit %>
<% end %>

